.translate{
    width: 500px;
    font-size: 50px;
    transform: translate(50px,100px);
}

.rotate
{
    width: 50px;
    font-size: 50px;
    transform: rotate(100deg);
}
.scale
{
    width: 50px;
    font-size: 50px;
    transform: scale(2,0.5);

}
.skew
{
    width: 50px;
    font-size: 50px;
    transform: skew(50deg);
}
.rotateZ
{
    width: 50px;
    font-size: 50px;
    transform: rotateZ(200deg);
}
.trans
{
    display: inline-block;
    transition: transform 3s, font-size 2s, background-color 3s,color 2s;
}
.trans:hover
{
    cursor: pointer;
    transform:scale(2,2);
    transform: rotate(-360deg);
    color: red ;
    background-color: chartreuse;
    font-size: 30px;
    box-shadow: 5px 10px 8px #000;
}
.changcolor
{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    visibility: visible;
}
@keyframes example {
from
{
    background-color: red;
}
to
{
    background-color: yellow;
}
    
}