

/* FROM THIS SECTION CONTAINS MY EDITTING OF MY SEARCH BAR   */
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-content: center;
}
.topnav .search-container input[type= text]
{
  border: 0px;
  padding: 10px;
  font-size: 16px;
}

.topnav .search-container button
{
  padding: 5px 10px;
  font-size: 16px;
}

