

/* FROM THIS SECTION CONTAINS MY EDITTING OF MY SEARCH BAR   */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  background-image: url("images/bckgrd.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top{
  display: flex;
  background-color: #75757a;
  color: #f68b1e;
}
.top h3{
  padding-right: 20px;
}
a{
  text-decoration: none;
  color: #000;
  
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 60px;
  align-content: center;
  align-items: baseline;
  background: #fff;
}
.topnav div
{
  margin-right: 50px;
}
.topnav .search-container input[type= text]
{
  border: 0px;
  padding: 10px;
  font-size: 20px;
}

.topnav .search-container button
{
  padding: 5px 10px;
  font-size: 16px;
}

.topnav div select
{
  border: 0px;
  font-size: 20px;
}
.topnav div a 
{
  font-size: 20px;
  list-style: none;
}
#wallpaper
{
  background-repeat: no-repeat;
  background-position: center;
}